form{
   
    font-size: medium;
    padding:180px 5px 200px 50px;
    position: relative;
   margin: 0 auto;
    width: 350px;
    
    top: 8vh;
    
  }
  .titulo{
    font-weight: large;
    text-align: center;
  }
 .button{
    text-transform:initial;
    text-align: center
 }