
  <ion-content>
    <ion-row>
      <ion-toolbar>
         <ion-col>
            <ion-title size="large" type="submit"  expand="block">Publicar</ion-title>
        </ion-col>
      </ion-toolbar>
    </ion-row>
  
    <form [formGroup]="publicationForm" (ngSubmit)="getPublicationForm()" novalidate>
            
         <ion-item lines="full">
        <ion-label size="small">Tipo *</ion-label>
        <ion-select formControlName = "typePublishing" value="1 || 2"  okText="Aceptar" cancelText="Cancelar">
          <ion-select-option value="1">Oferta</ion-select-option>
          <ion-select-option value="2">Demanda</ion-select-option>
        </ion-select>
          </ion-item>
                       
       <ion-item lines="full">
        <ion-label size="small">Area de trabajo *</ion-label>
        <ion-select formControlName = "workAreaId" value="Carpintero || Plomero 
        || Pintor || Electricista || Cocinero || Albañil" okText="Aceptar" cancelText="Cancelar">
          <ion-select-option value="Carpintero">Carpintero</ion-select-option>
          <ion-select-option value="Plomero">Plomero</ion-select-option>
          <ion-select-option value="Pintor">Pintor</ion-select-option>
          <ion-select-option value="Electricista">Electricista</ion-select-option>
          <ion-select-option value="Cocinero">Cocinero</ion-select-option>
          <ion-select-option value="Albañil">Albañil</ion-select-option>
          
        </ion-select>
      </ion-item>
  
      
      
      
  
      <ion-item lines="full">
        <ion-label position="floating">Direccion</ion-label>
        <ion-input formControlName="address" type="text" ></ion-input>
      </ion-item>
  
      
  
  
      <ion-item lines="full">
        <ion-label position="floating">tiempo requerido/ofertado</ion-label>
        <ion-input formControlName="timeRequiredOrOffered" type="number" ></ion-input>
      </ion-item>
    
       <ion-item lines="full">
        <ion-label position="floating">Honorarios</ion-label>
        <ion-input formControlName="tariff" type="number" ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>   

          <ion-button type="submit" [disabled]="!publicationForm.valid">Cancelar</ion-button>
          
          <ion-button type="submit" [disabled]="!publicationForm.valid">Aceptar</ion-button>
       <!--  </p>  
         <ion-row>
        <ion-col>
          <ion-button type="submit"  >Cancelar</ion-button>
          
          <ion-button type = "summit">Aceptar</ion-button>
        </ion-col>
      </ion-row>
    -->
    </form>
 
    
  </ion-content>
  
  <hr>
  
  <p>
    Form Value: {{ publicationForm.value | json }}
  </p>
  
  
  <p>
    Form Status: {{ publicationForm.status }}
  </p>
  
  
  

