form{
    //background-color:#C4C4C4;
    border-radius: 10px;    
    //color:#2C3C5B;
    font-size: 17px;
    padding: 30px;
    margin: 0 auto;
    width: 350px;
    position: relative;
    top: 8vh;
  }
  .titulo{
    font-weight: 700;
    text-align: center;
  }