<ion-header class="ion-text-center">
	<ion-toolbar class="ion-text-center" color="tertiary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/home"></ion-back-button>
		</ion-buttons>
		<ion-title color="light">
			GET IT
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

	<ion-header class="ion-text-center">
		<ion-toolbar class="ion-text-center">
			<ion-title color="dark">
				REGISTRARSE
			</ion-title>
		</ion-toolbar>
	</ion-header>

	<form [formGroup]="user" (ngSubmit)="saveData()" novalidate>
		<ion-item>
			<ion-label position="floating">Nombre *</ion-label>
			<ion-input formControlName="firstname"></ion-input>
	  	</ion-item>
	 	<ion-label color="danger" *ngIf="user.controls.firstname.errors?.required && (user.controls.firstname.touched || user.controls.firstname.dirty)">* El nombre es obligatorio </ion-label>
	  	<ion-label color="danger" *ngIf="user.controls.firstname.errors?.minlength && (user.controls.firstname.touched || user.controls.firstname.dirty)">* El nombre tiene que tener al menos 3 caracteres.</ion-label>
	  	<ion-label color="danger" *ngIf="user.controls.firstname.errors?.maxlength && (user.controls.firstname.touched || user.controls.firstname.dirty)">* El nombre tiene que tener como maximo 50 caracteres.</ion-label>

		<ion-item>
			<ion-label position="floating">Apellidos *</ion-label>
			<ion-input formControlName="lastname"></ion-input>
		</ion-item>
		<ion-label color="danger" *ngIf="user.controls.lastname.errors?.required && (user.controls.lastname.touched || user.controls.lastname.dirty)">* Los apellidos son obligatorios </ion-label>
		<ion-label color="danger" *ngIf="user.controls.lastname.errors?.minlength && (user.controls.lastname.touched || user.controls.lastname.dirty)">* Los apellidos tienen que tener al menos 3 caracteres.</ion-label>
		<ion-label color="danger" *ngIf="user.controls.lastname.errors?.maxlength && (user.controls.lastname.touched || user.controls.lastname.dirty)">* Los apellidos tienen que tener como maximo 50 caracteres.</ion-label>

		<ion-item>
			<ion-label position="floating" >Celular - Link de WhatsApp *</ion-label>
			<ion-input formControlName="phone" [(ngModel)]="auxPhone"></ion-input>
		</ion-item>
		<ion-label color="danger" *ngIf="user.controls.phone.errors?.required && (user.controls.phone.touched || user.controls.phone.dirty)">* El número de celular es obligatorio </ion-label>
		<ion-label color="danger" *ngIf="user.controls.phone.errors?.maxlength && (user.controls.phone.touched || user.controls.phone.dirty)">* El número introducido tiene mas de 8 digitos.</ion-label>

		<ion-item>
			<ion-label position="floating" >Fecha de Nacimiento * </ion-label>
			<ion-input formControlName="birthdate"></ion-input>
			<ion-input >
			<ion-datetime (ionChange)="getDate($event)" formControlName="birthdate" [value]="defaultDate" placeholder="Presiona Aqui" doneText="Aceptar" cancelText="Cancelar"></ion-datetime></ion-input>
		</ion-item>
		<ion-label color="danger" *ngIf="user.controls.birthdate.errors?.required && (user.controls.birthdate.touched || user.controls.birthdate.dirty)">* La fecha de nacimiento es obligatorio </ion-label>


		<ion-item>
			<ion-label position="floating">Dirección *</ion-label>
			<ion-input formControlName="address"></ion-input>
		  </ion-item>
		  <ion-label color="danger" *ngIf="user.controls.address.errors?.required && (user.controls.address.touched || user.controls.address.dirty)">* La dirección es obligatoria </ion-label>
		  <ion-label color="danger" *ngIf="user.controls.address.errors?.minlength && (user.controls.address.touched || user.controls.address.dirty)">* La dirección tiene que tener al menos 4 caracteres.</ion-label>
		  <ion-label color="danger" *ngIf="user.controls.address.errors?.maxlength && (user.controls.address.touched || user.controls.address.dirty)">* La dierccion tiene que tener como maximo 50 caracteres.</ion-label>
		
		  <ion-item>
			<ion-label position="floating">Area de trabajo (Opcional)</ion-label>
			<ion-select formControlName = "workAreaid" type="number"        multiple="true" okText="Aceptar" cancelText="Cancelar">
			  <ion-select-option type=number value=1>Carpintero</ion-select-option>
			  <ion-select-option value=2>Plomero</ion-select-option>
			  <ion-select-option value=3>Pintor</ion-select-option>
			  <ion-select-option value=4>Electricista</ion-select-option>
			  <ion-select-option value=5>Cocinero</ion-select-option>
			  <ion-select-option value=6>Albañil</ion-select-option>
			</ion-select>
		  </ion-item>
		  <ion-label color="danger" *ngIf="user.controls.workAreaid.errors?.required && (user.controls.workAreaid.touched || user.controls.workAreaid.dirty)">* Seleccione un Area</ion-label>
	  
		  <ion-item>
			<ion-label position="floating">Email *</ion-label>
			<ion-input formControlName="email"></ion-input>
		  </ion-item>
		  <ion-label color="danger" *ngIf="user.controls.email.errors?.pattern && (user.controls.email.touched || user.controls.email.dirty)">* El email no es válido.</ion-label>
		  <ion-label color="danger" *ngIf="user.controls.email.errors?.required && (user.controls.email.touched || user.controls.email.dirty)">* El email es obligatorio </ion-label>
		
		  <ion-item>
			<ion-label position="floating">Contraseña *</ion-label>
			<ion-input type="password" formControlName="password"></ion-input>
		  </ion-item>
		  <ion-label color="danger" *ngIf="user.controls.password.errors?.pattern && (user.controls.password.touched || user.controls.password.dirty)">* La contraseña no es valida, almenos debe de contener una mayuscula, una minuscula y un número.</ion-label>
		  <ion-label color="danger" *ngIf="user.controls.password.errors?.required && (user.controls.password.touched || user.controls.password.dirty)">* La contraseña es obligatoria </ion-label>
		  <ion-label color="danger" *ngIf="user.controls.password.errors?.minlength && (user.controls.password.touched || user.controls.password.dirty)">* La contraseña tiene que tener al menos 8 caracteres.</ion-label>
		
		  <br>
		  <br>
			  
		  <p class="ion-text-center">
			<ion-grid>
			  <ion-row>
				<ion-col>
				  <ion-button (click)="cancel()" color="medium shade" expand="block">Cancelar</ion-button>
				</ion-col>
				<ion-col>
				  <ion-button color="tertiary" expand="block" type="submit" [disabled]="!user.valid">Aceptar</ion-button>
				</ion-col>
			  </ion-row>
			</ion-grid>
		  </p>   
	</form>
</ion-content>
